.todos-section {
  background-color: white;
  min-width: 30vw;
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px 10px;
}

.todos-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 95%;
  list-style: none;
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: auto;
}

