.todos-section {
  background-color: white;
  min-width: 15vw;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px 10px;
}

.todos-list {
  list-style: none;
  padding: 0;

}

