* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Comfortaa', cursive;
  background: linear-gradient(45deg, #cba9eb, rgb(235, 210, 220));
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  border: 2px solid grey;
  padding: 0 5px;
  margin: 5px 0;
}

.wrong {
  color: darkred;
}

